<main class="h-screen w-screen bg-gray-100">
  <nav class="bg-white w-full px-4 py-2 mb-2 shadow-lg h-14">
    <h1 class="font-bold text-3xl">Readster</h1>
  </nav>
  <section class="flex flex-col justify-center items-center h-[calc(100vh-64px)]">
    @if (isReaderMode) {
      <app-reader [text]="form.value.text" (quitReading)="handleQuitReading()"></app-reader>
    } @else {
      <form [formGroup]="form" (submit)="onSubmit()"
        class="flex flex-col justify-center bg-white rounded-md p-4 gap-3 flex-1 my-12 shadow-lg w-1/2">
        <label for="text" class="text-xl">Deixe seu texto abaixo para ler de uma maneira descomplicada</label>
        <textarea 
          id="text" 
          class="border border-gray-300 rounded-md p-2 flex-1"
          placeholder="Insira aqui o texto que deseja ler com facilidade"
          formControlName="text"></textarea>
        <button 
          type="submit" 
          class="flex justify-center items-center gap-2 bg-blue-300 px-4 py-2 rounded-md uppercase hover:bg-blue-400 transition-colors">
          <lucide-icon name="play" />
          Iniciar Leitura
        </button>
      </form>
    }
  </section>
</main>